.Side-bar
  .Side-bar__user--name
    .Top-items
      .Top-items__name
        =current_user.name
      .Top-items__icons
        .Top-items__icons--edit
          = link_to "#" do
            = icon('far', 'edit')
        .Top-items__icons--cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .Side-bar__group--list
    .group-lists
      .group-list
        .group-list__name
          techcamp
        .group-list__message
          まだメッセージがありません
      .group-list
        .group-list__name
          野鳥の会
        .group-list__message
          まだメッセージがありません
      .group-list
        .group-list__name
          ツーリング
        .group-list__message
          まだメッセージがありません
  