.Notification
  - flash.each do |key, value|
    = content_tag :div, value, class: key

-# deviseを使用すると、ログイン時などに表示させるメッセージが「flashオブジェクト」に自動で格納されます。
-# flashオブジェクト内には、複数のメッセージがハッシュのように「キー」「バリュー」形式で保存されています。
-# each文を使うと、これらを1つずつ取り出すことができ、ChatSpaceでは「キー」を
-# 「CSS用のクラス名」に、「バリュー」を「表示するメッセージ本文」として使っています。